---
import BaseLayout from '../layouts/baseLayout.astro';
const PageTital = "My-Projects";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Sundram-projects</title>
    <style>
       h1, p{
        font-weight: bold;
        color: hsl(90, 41%, 35%);
      }
    </style>
  </head>
  <body>
    <BaseLayout PageTital={PageTital}>
      <h1>Work In Progress</h1>
    </BaseLayout>
  
  </body>
</html>