---

---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Footer</title>

    <style>
      i{
        font-size: 2rem;
      }
    </style>

  </head>
  <body>
    
    <footer class="flex justify-around items-center my-10 ">
      <p class="font-bold">&copy; 2024 @thinking</p>
      <div class="flex gap-3">
        <a href={`https://www.github.com/Sundram11`}><i class="fa-brands fa-github"></i></a>
        <a href={`https://www.twittter.com/Sundram11`}><i class="fa-brands fa-square-twitter"></i></a>
        <a href={`https://www.linkedin.com/Sundram11`}><i class="fa-brands fa-linkedin"></i></a>
      </div>
     
    </footer>
  
      
 
 
  </body>
</html>
