---
---

 
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio-sundram</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        a{
            color: hsla(0, 79%, 40%, 0.795);
            font-weight: bold;
    
        }
        i{
            color: rgba(82, 53%, 67%, 0.671) ;
        }
    </style>

  </head>
  <body>
    <div class="ml-2 flex md:flex justify-start gap-10 my-10">
        <a href="/"> <i class="fas fa-house-chimney-window"></i> Home</a>
        <a href="/blog/"> <i class="fa-solid fa-cubes"></i> Blog</a>
        <a href="/projects/"><i class="fa-solid fa-laptop-code"></i> Projecs</a>
        <a href="/about/"><i class="fa-solid fa-address-card"></i> About</a>
    </div>
   
  </body>
</html>

